{% extends 'components/base.html' %}
{% block extra_css %}
{% endblock extra_css %} 
{% block title %}EdgeCourse - Exam{% endblock title%} 
{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Manage Members</h1>
  <p class="mb-4">
    All users can see hostel member's details. *Only admin can manage
    hostel members. After creating a member he/she can login with
    their assigned email and password.
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
          <div
            class="card-header py-3 df-row"
            data-toggle="collapse"
            href="#daily-meal-card-body"
            role="button"
            aria-expanded="true"
            aria-controls="daily-meal-card-body"
            class="cursor-pointer"
          >
            <h6 class="m-0 font-weight-bold text-primary">
              Add Member Form
            </h6>
          </div>
          <div
            class="collapse show card-body"
            id="daily-meal-card-body"
          >
            <div class="card card-body">
              <div class="text-center">
                <img
                  class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                  style="width: 25rem"
                  src="{{s}}img/undraw_selecting_team.svg"
                  alt="..."
                />
              </div>
              <section class="container">
                <form method="post">
                  <div class="row flex-space-around mt-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span
                          class="input-group-text"
                          id="basic-addon1"
                          >Name</span
                        >
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Full Name"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                      />
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span
                          class="input-group-text"
                          id="basic-addon1"
                          >Email</span
                        >
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="example@email.com"
                        aria-label="Email"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span
                          class="input-group-text"
                          id="basic-addon1"
                          >Contact Number</span
                        >
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="01xxxxxxxxx"
                        aria-label="Contact Number"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span
                          class="input-group-text"
                          id="basic-addon1"
                          >Password</span
                        >
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="******"
                        aria-label="Password"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                  </div>
                  <div class="row flex-space-around mt-4">
                    <label for="date">Admin Privileges:</label>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="yes"
                        id="yesCheckbox"
                        name="adminPrivilege"
                      />
                      <label
                        class="form-check-label"
                        for="yesCheckbox"
                      >
                        Yes
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="no"
                        id="noCheckbox"
                        name="adminPrivilege"
                        checked
                      />
                      <label
                        class="form-check-label"
                        for="noCheckbox"
                      >
                        No
                      </label>
                    </div>
                  </div>
                  <div class="row flex-space-around mt-4">
                    <button
                      type="submit"
                      name="save"
                      class="btn btn-success btn-icon-split"
                    >
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Add Member</span>
                    </button>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- All Members Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        All Members Table
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contact Number</th>
              <th>Admin Privilege</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fahim</td>
              <td>fahimpranto002@gmail.com</td>
              <td>01615990017</td>
              <td class="text-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  checked
                  readonly
                />
              </td>
              <td>
                <a href="#" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>Nafiul</td>
              <td>nafiul@gmail.com</td>
              <td>01615990017</td>
              <td class="text-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  readonly
                />
              </td>
              <td>
                <a href="#" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- Page level plugins -->
<script src="{{s}}vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{s}}vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{s}}js/demo/datatables-demo.js"></script>

{% endblock extra_js %}
