{% extends 'components/base.html' %}
{% block extra_css %}
{% endblock extra_css %} 
{% block title %}EdgeCourse - Exam{% endblock title%} 
{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Monthly Accounting</h1>
  <p class="mb-4">
    Monthly Accounting contains monthly accounting details of individuals in
    monthly basis.
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
          <div
            class="card-header py-3 df-row"
            data-toggle="collapse"
            href="#daily-meal-card-body"
            role="button"
            aria-expanded="true"
            aria-controls="daily-meal-card-body"
            class="cursor-pointer"
          >
            <h6 class="m-0 font-weight-bold text-primary">
              Month Selection
            </h6>
          </div>
          <div
            class="collapse show card-body"
            id="daily-meal-card-body"
          >
            <div class="card card-body">
              <div class="text-center">
                <img
                  class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                  style="width: 25rem"
                  src="{{s}}img/undraw_select_option.svg"
                  alt="..."
                />
              </div>
              <section class="container">
                <form method="post">
                  <div class="row flex-space-around mt-4">
                    <label for="date">Date:</label>
                    <input
                      type="month"
                      id="monthPicker"
                      name="monthPicker"
                    />
                  </div>
                  <div class="row flex-space-around mt-4">
                    <button
                      type="submit"
                      name="save"
                      class="btn btn-success btn-icon-split"
                    >
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Update Table</span>
                    </button>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Monthly Accounting Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Monthly Accounting Table (March 2022)
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Total Expense ৳</th>
              <th>Total Meal</th>
              <th>Meal Cost(Rate: 60.3৳)</th>
              <th>Receivable(+ve)/Payable(-ve)</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Total</th>
              <th>6512</th>
              <th>108</th>
              <th>6512</th>
              <th>0</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Fahim</td>
              <td>1965</td>
              <td>21</td>
              <td>1266</td>
              <td>+699</td>
            </tr>
            <tr>
              <td>Fahim</td>
              <td>1965</td>
              <td>21</td>
              <td>1266</td>
              <td>+699</td>
            </tr>
            <tr>
              <td>Fahim</td>
              <td>1965</td>
              <td>21</td>
              <td>1266</td>
              <td>+699</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- Page level plugins -->
<script src="{{s}}vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{s}}vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{s}}js/demo/datatables-demo.js"></script>
<script>
  var monthPicker = document.getElementById("monthPicker");
  monthPicker.valueAsDate = new Date();
</script>
{% endblock extra_js %}
