{% extends 'components/base.html' %} {% block extra_css %} {% endblock extra_css
%} {% block title %}Profile{% endblock title%} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User Profile</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div
          class="card-header py-3 df-row"
          class="card-header py-3 df-row"
          data-toggle="collapse"
          href="#daily-meal-card-body"
          role="button"
          aria-expanded="true"
          aria-controls="daily-meal-card-body"
          class="cursor-pointer"
        >
          <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
        </div>
        <div class="collapse show card-body" id="daily-meal-card-body">
          <div class="card card-body">
            <div class="text-center">
              <img
                class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                style="width: 25rem"
                src="{{s}}img/undraw_profile_settings.svg"
                alt="..."
              />
            </div>
            <section class="container">
              <form method="post">
                <div class="row flex-space-around mt-4">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        >Name</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                      value="Fahim Rahman"
                      readonly
                    />
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        >Email</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="example@email.com"
                      aria-label="Email"
                      aria-describedby="basic-addon1"
                      value="fahimpranto002@gmail.com"
                      readonly
                    />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">About</span>
                    </div>
                    <textarea class="form-control" aria-label="About" readonly>
My about</textarea
                    >
                  </div>
                </div>

                <div class="row flex-space-around mt-4">
                  <button
                    type="submit"
                    name="save"
                    class="btn btn-success btn-icon-split"
                  >
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save</span>
                  </button>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 
{% block extra_js %} {% endblock extra_js %}
